server:
  port: ${SERVER_PORT:8081}

spring:
  application:
    name: auth-service


  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/authdb}
    username: ${SPRING_DATASOURCE_USERNAME:auth}
    password: ${SPRING_DATASOURCE_PASSWORD:auth}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

security:
  jwt:
    secret: ${SECURITY_JWT_SECRET:ChangeThisSecretInProductionChangeThisSecretInProduction}
    expirationMs: ${SECURITY_JWT_EXPIRATION_MS:36000000}

management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"
  endpoint:
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true

logging:
  level:
    root: INFO
    com.bank.authservice: DEBUG


app:
  bootstrap:
    admin:
      enabled: ${APP_BOOTSTRAP_ADMIN_ENABLED:false}
      username: ${APP_BOOTSTRAP_ADMIN_USERNAME:admin}
      password: ${APP_BOOTSTRAP_ADMIN_PASSWORD:admin}
      email: ${APP_BOOTSTRAP_ADMIN_EMAIL:admin@local}

