spring:
  application:
    name: transaction-service
  datasource:
    url: jdbc:postgresql://postgres:5432/transactiondb
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true
  metrics:
    export:
      prometheus:
        enabled: true

server:
  port: 8082

logging:
  level:
    root: INFO

services:
  account:
    base-url: ${SERVICES_ACCOUNT_BASE_URL:http://bank-account-service:8080}